* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}


.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url('./Assets/pattern.svg') no-repeat center center/cover;
}

.header-bar {
  background-color: hwb(17 9% 2%);
  display: grid;
  place-items: center;
  padding: 20px;
}

.header h1 { 
  font-family: 'Futura', sans-serif;
  color: white;
  font-size: 40px;
  margin: auto auto 20px auto;
}

.search input {
  font-family: 'Futura', sans-serif;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Result {
  font-family: Futura;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 3px solid white;
  border-radius: px;
  text-decoration: none;
  color: black;
}

.Result img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.DetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: url('./Assets/pattern.svg') no-repeat center center/cover;
}

.DetailPage h1 {
  font-family: Futura;
  font-size: 40px;
  margin: 0;
}


.DetailPage h3 {
  font-family: Futura;
  margin: 0;
}

.DetailPage .header-bar {
  background-color: hwb(17 9% 2%);
  display: grid;
  place-items: center;
  padding: 20px;
  
}

::placeholder {
  font-size: 18px;
  color: #ccc;
}

.weather-icon 

.weather-icon {
  width: 100px;
  height: 100px;
  object-fit: auto;
}
