* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url('./Assets/pattern.svg') no-repeat center center/cover; 
}

.app:before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} 

.HeaderBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 103, 12);
  color: #fff;
  padding: 20px;
}

.header {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
}

input[type="text"] {
  width: 200px;
  flex: 1;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 0 10px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.SearchBar {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: auto;
  flex: 1;
  font-size: 16px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 0 10px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}



button[type="button"] {
  height: 40px;
  font-size: 16px;
  background-color: rgb(22, 114, 31);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.Result {
  width: calc(33.3333% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
}

.date {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  margin: 10px 0;
}

.temp,
.humidity,
.temp_min,
.temp_max {
  font-size: 14px;
  margin: 5px 0;
}

